			body {
				background-color: #ccc
			}
			.banners {
				width:1190px;
				height: 554px;
				margin:0px auto;

			}

			div.item {
				height: 100%;
			}

			div.item01 {
				background-image: url(../img/imagen_banner_01.jpg)
			}

			div.item02 {
				background-image: url(../img/imagen_banner_02.jpg)
			}

			div.item h1 {
				width: 600px;
				height:50px;
				color: black;
				font-family: Verdana;
				font-size:30px;
				background-color: white;
				padding: 5px;
				margin-left: 10px;
				transition: 1s top, 0.2s opacity, 1.5s transform;
				position:absolute;
				top:-300px;
				
			}

			div.item h1:hover {
				background-color: rgba(255, 255, 255, 0.5);
				height:100px;
			}

			div.item h1.grande {
				top:100px;
				opacity:1;
			}

			div.item h1.salida{
				top:-300px;
				opacity:0;
			}

			div.item h1.crecerAncho {
				-webkit-transform: translate(100px, 200px) scale(3,3) rotate(45deg);
				-moz-transform: translate(100px, 200px) scale(3,3) rotate(45deg);
				-ms-transform: translate(100px, 200px) scale(3,3) rotate(45deg);
				-o-transform: translate(100px, 200px) scale(3,3) rotate(45deg);
				transform: translate(100px, 200px) scale(3,3) rotate(45deg);
			}


			.slick-prev:hover, 
			.slick-prev:focus, 
			.slick-next:hover, 
			.slick-next:focus {
			    background-color: rgba(250,250,250,0.4);
			    outline: none;
			}

			.slick-next{
			    width: 50px;
			    height: 50px;
			    background-color: rgba(250,250,250,0.4);
			    right: 0;
			}

			    .slick-next:before{
			        font-family: 'FontAwesome';
			        font-size: 40px;
			        content:"\f101";
			    }


			.slick-prev{
			    width: 50px;
			    height: 50px;
			    background-color: rgba(250,250,250,0.4);
			    left: 0;
			    z-index: 1;
			}

			    .slick-prev:before{
			        font-family: 'FontAwesome';
			        font-size: 40px;
			        content:"\f104";
			    }

			.slick-dots li button::before {
			    font-family: 'FontAwesome';
			    content: "\f04d";
			    opacity: 0.25;
			    color: #b7b7ba;
			}

			.slick-dots li button {
			    background: #b7b7ba;
			}

			.slick-dots li.slick-active button{
			    background-color: #fff;
			} 

			.slick-dots {
			    bottom: 0;
			}
