/*Estilos para celulares y tabletas*/
body {
	margin:0;
	padding:0;
}

div {
	width:100%;
	/*max-width:960px;*/
	height: 500px;
	background-color: blue;
	margin:0 auto;
}

/*Estilos para desktops*/
@media screen and (min-width: 960px) {
	div {
		width:960px;
	}
}

@media print {
	div {
		border:5px solid green;
	}
}

