html, body {
	width:100%;
	height: 100%;
}

body {
	margin:0;
	padding: 0;
	background-color: black;
}

article {
	width:100%;
	height:1500px;
}

div.info {
	position:fixed;
	width:200px;
	background-color: white;
	z-index:10000;
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	font-family: Verdana;
	font-size: 25px;
	font-weight: bold;
}

div.slide {
	width:100%;
	height:100%;
	position: fixed;
	top:0%;
	background-image: url(../img/estrellas.gif);
}

div.slide.slide01 {
	background-position: 0px 0px;
}


div.slide.slide02 {
	background-position: 200px 300px;
	opacity:0.8;
}

div.slide.slide03 {
	background-position: 500px 100px;
	opacity:0.5;
}





